@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
select, option {
  width: 100px;
  margin: 1px; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black; }
  body h1 {
    font-family: "Teko", sans-serif;
    font-size: 4em; }
  body #app {
    border: 1px solid black;
    width: 100%; }
    body #app #form-app {
      width: 1000px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      body #app #form-app .define-position {
        border: 1px solid black;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin-bottom: 10px;
        height: 50px; }
        body #app #form-app .define-position > div {
          border: 1px solid black;
          width: calc(100%/6);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }

[data-toggle="tooltip"], #under-dotted {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted; }

select, option {
  height: 36px; }

thead tr {
  border-top: 1px solid black; }

tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid black; }
  tr td, tr th {
    width: 120px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

* {
  border: 1px solid black; }

input {
  height: 30px;
  width: 100%;
  max-width: 300px; }
  input[type="button"] {
    background: #479747;
    border: 2px solid #479747;
    color: white;
    font-family: "Mulish", sans-serif;
    font-weight: bolder;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s; }
    input[type="button"]:hover {
      background: #ffffff;
      color: #479747; }

/*# sourceMappingURL=style.css.map */