@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap')

@mixin flex-position($justify, $align, $direction)
    display: flex
    flex-direction: $direction
    justify-content: $justify
    align-items: $align

    

%sizing
    width: 100px
    margin: 1px
//OK STYLES   
body
    @include flex-position(center, center, column)

    .responsive
        max-width : 1000px
        width : 100%
        
        h1
            font-family : 'Teko', sans-serif
            font-size : 4em
            text-align : center
        

        #app
            width : 100%
            margin-bottom: 100px
            
            #form-app
                width: 100%
                display: flex
                @include flex-position(center, center , column)

                .base-table
                    display: flex
                    flex-direction: row
                    width: 50%
                    &>div
                        width: calc( 100% /2 )
                        margin: 5px
                        @include flex-position(center, center , row )
                        height: 50px

                .sql-data
                    width: 100%
                    @include flex-position(center, center , column )
                    
                    .titles
                        font-weight: bolder

                    .define-position
                        @include flex-position(center, center, row)
                        height : 50px
                        width: 90%
                        border-bottom: 1px solid black
                        &>div
                            width : calc(100%/6)
                            @include flex-position(center, center, row)


[data-toggle="tooltip"], #under-dotted
    text-decoration-line: underline
    text-decoration-style: dotted
//SHAME AND REFACTOR NEEDED



      
// *
//     border : 1px solid black



@import 'modules/_buttons.sass'
