%buttons
    background : #479747
    border : 2px solid #479747
    color : white
    font-family : 'Mulish', sans-serif
    font-weight : bolder
    transition-duration : 0.5s
    &:hover
        background : #ffffff
        color : #479747

    
    
input
    height : 40px
    width : 100%
    max-width : 300px
    &[type="button"]
        @extend %buttons
    &[type="submit"]
        @extend %buttons
        height: 100px
        font-size: 2em

select
    height: 40px